{% extends "layout.html" %}

{% block title %}
    Experience - {{result["Admission No."]}}
{% endblock %}

{% block body %}
    <h1>Search Results</h1>
    <!--LOOP THROUGH DICTIONARY-->
    <div class="card">
        {% for key, value in result.items()%}
            <div class="card-header">
                <h5>{{key}}</h5>
            </div>
            <div class="card-body">
                <pre class="card-title">{{value|safe}}</pre>
            </div>
        {% endfor %}
    </div>
    <br/>
{% endblock %} 