{% extends "layout.html" %}

{% block title %}
    {{heading}}
{% endblock %}

{% block body %}
    <h3>{{heading}}</h3>

    <br>
    <div class="row">
        <ul>
        <!--LOOP THROUGH DICTIONARY-->
        {% for result in results%}
            <div class="card">
                <div class="card-header">
                    <h5>{{result["Placed Company name"]}}</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-title">{{result["Admission No."].upper()}} - {{result["Name"].title()}}</h6>

                    <a href="/experience/{{result.index}}" class="btn btn-primary">Read More</a>
                </div>
            </div>
            <br/>
        {% endfor %}
        </ul>
    </div>
{% endblock %}